extends index_cn.pug

//- 需要includ·-。。0e的svg
block svginc
  include ../images/models_en_css_inc.svg
  include ../images/slogn_en_inc.svg

//- 栏目菜单 slide
block vars
 - var menus={home: "HOME", "G-POWER":"G-POWER", "products-service":"PRODUCT&SERVICE",  applications:"APPLICATIONS", media:"MEDIA"};

//- slogan SVG
block sloganConts
  -
    var slogan = {
      lang: "en",
      region: [
        [0, 0, 100, 11.29],
        [122.18, 0, 183, 11.29],
        [325, 0, 166, 11.29]
      ]
    }

//- 风氢扬科技 slide
block techSlides
  -
    var techDatas =[
      {
        title: "/Hello World/",  
        detail: [
          `The origin of Fuel Cell System can be traced back to 1839 when the British scientist Sir William Grove first carried out the fuel cell experiment. Nowadays, this "box" has become an important carrier of energy strategy of all countries in the world, and is changing and improving the living environment and power driving mode of human beings.`,
          'Fuel Cell uses hydrogen, the most abundant element in the universe, to replace traditional fossil energy and convert chemical energy into electrical energy through electrolytic reaction. It has been widely used in public transportation, logistics, municipal sanitation, construction machinery and other fields all over the world, making huge contributions to the real zero carbon emission.',
          'Here we are a group of people once again gathered together because of our pursuit and exploration of cutting-edge technology. We took <strong>"G-POWER"</strong> as our badge, wore self-confident blade; while the morning light of the sky was shining on us, we held the sword tightly, sang the battle song, and built the Babel Tower with tenacity and brilliance, and climbed to the deep sky.'
        ],
        columnsCn: 1
      },{
        title: "/About us/", 
        detail: [
          "<strong>G-POWER</strong> Technology was established in 2019, and its core R &amp; D team comes from well-known fuel cell and vehicle development enterprises at home and abroad. The company's R &amp; D center, located in Shanghai new energy vehicle and key parts industry base, was put into operation in 2020. It has formed a complete set of development, testing and trial production capabilities from core parts to fuel cell system and functional prototype vehicles. It has cooperated with many domestic first-tier vehicle enterprises to develop fuel cell vehicle models, provided solutions for rapidly developing and diversified fuel cell application scenarios, advanced fuel cell technology and complete powertrain systems.",
          "<strong>G-POWER</strong> Technology R &amp; D team has rich and professional experience in fuel cell and vehicle development. While continuing with independent research and development, it has actively cooperated with many well-known universities at home and abroad to jointly carry out research and development of key technologies. As end of 2020, over 200 patents have been declared,, and the overall plan for 2020 will be achieving 200 patents, covering core technologies such as core parts research and development, system integration design, control strategy development, etc., and obtain ISO9001 quality management system certification."
        ],
        columnsCn: 1
      }
    ];
    
//- 产品
block productConts
  -
    var productData = {
      tit: "/CHIGMA SERIES",
      paragraph: [
        '<strong>CHIGMA</strong> series fuel cell system is a 65 kW to 125 kW medium and high power product series developed by G-POWER based on the diversified needs of users. The series of products adopt high-power single reactor scheme and integrated modular design. Through continuous optimization of control strategy and integrated design, the series of products satisfy the industry leading advantages of long life, high power and small size.',
        '<strong>CHIGMA 120</strong> fuel cell system is specially designed for heavy truck with long-time operation, high load rate and bad working conditions. Through the technical improvement in vehicle control strategy, system integration and core parts, it has longer life, higher integration and higher reliability, meets the requirements of heavy truck with continuous high-speed working conditions, and reduces the cost of the whole life cycle.',
        '<strong>CHIGMA 60</strong> and <strong>CHIGMA 80</strong> fuel cell systems can provide stable and reliable zero emission power for vehicles in urban logistics, urban public transportation, intercity freight, municipal environmental sanitation, engineering services, etc., and carry out strategic cooperation and product application with many domestic vehicle manufacturers.',
        'In addition, the compact <strong>CHIGMA 10</strong> fuel cell system is specially designed for forklifts, smart moving and other mass light load operation equipment, making the <strong>CHIGMA</strong> product series that can provide users with complete full power coverage solutions.'
      ]
    }
//- 服务
block serviceConts
  -
    var serviceData = {
      tit: '/ENGINEERING SERVICE',
      desc: 'Our engineers are the top talents of hydrogen fuel cell technology. They are expert in providing a full range of product and application engineering consulting services, from customizing system components to developing complete fuel cell systems for customers, from prototype vehicle trial production to vehicle mass production',
      conts: [
        {
          boxTit: 'Vehicle powertrain engineering application service ',
          desc: 'Our engineering service covers from vehicle layout design to vehicle certification, end-to-end flagship application of hydrogen fuel cell vehicle powertrain. '
        },
        {
          boxTit: 'Customized service of hydrogen fuel cell system and parts',
          desc: 'Customized solutions for non-standard applications, integration, and scenarios.'
        },
      ]
    }

//- 售后
block afterSaleConts
  -
    var afterSaleData = {
      tit: '/AFTER SALES SUPPORT',
      desc: 'While providing reliable products is only the first step, we also provide a complete support system covering user guidance, vehicle maintenance and data monitoring management as a strong guarantee to our customers ',
      conts: [
        {
          spec: "wider-center",
          boxTit: 'Data Service<br/>Platform',
          desc: "With the self-developed big data platform, we are able to achieve real-time monitoring of vehicle operation, continuously improve operation efficiency, predict and prevent problems in vehicle operation, and ensure driving safety. "
        },{
          spec: "wider-center",
          boxTit: 'Operation and<br/>Maintenance<br/>Support Service',
          desc: "With the development of commercial operation of hydrogen fuel cell vehicles in China, we have established a professional after-sales service system for the operation and maintenance of hydrogen fuel cell vehicles, in order to provide professional after-sales services for the growing hydrogen fuel cell vehicle market. "
        },{
          boxTit: 'Product Guide Manual',
          desc: "Provide a full range of operation, maintenance, maintenance guidance, and provide standardized spare parts list "
        }
      ]
    }

//- 应用
block appConts
  -
    var appData = [
      {
        id: 2,
        category: "Logistics", 
        name: "Light/Middle/<br/>Heavy logistics truck"
      }, {
        id: 1,
        category:"Public transportation", 
        name: "Bus/Commuting Bus"
      }, {
        id: 3,
        category: "Municipal environmental<br/>and sanitation", 
        name: "Sprinkling/<br/>Sweeping truck"
      }, {
        id: 4,
        spec: "triplex",
        category: "Construction machinery", 
        name: "Loader/Forklift Truck/<br/>Port Machinery/<br/>Intelligent Transportation"
      }
    ]

//- 媒体
block mediaConts
  - var mediaData = {tit: "Cooperative organization"}

//- 合作伙伴
block partnerConts
  - var category = ["Strategic cooperation in Colleges and University", "Strategic cooperation of industrial chain"]

//- 版权信息
block copyrightCont
  -
    var copyrightData = [
      "G-Power Technology (Shanghai) Co.,Ltd",
      "Bldg.2,150 Hengyu Rd.,Jiading Dist.,Shanghai,China",
      "TEL 400 000 8100"
    ]