doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 风氢扬科技
    body
      
        div(data-scroll-container)
            //- div(data-scroll-section)
            //-     - for(var y=1 ;y< 20; y++)
            //-         p(data-scroll data-scroll-speed=y data-scroll-position="top" id='li_'+y)= "第" + y +"行"
            hr
            div(data-scroll-section)
                - for(var z=1 ;z< 20;z++)
                    p(data-scroll data-scroll-speed=z data-scroll-position=z%2==0?"top":"bottom" id='li_'+z)= "第" + z +"行"

