@import "bootstrap.custom.scss"; //自定义bootstrap

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

@import "bootstrap/scss/_grid"; //  引入栅格
@import "bootstrap/scss/_reboot"; //  引入样式重置

@import "~swiper/components/scrollbar/scrollbar.scss"; // ??? index.js中import失败
@import "~swiper/components/navigation/navigation.scss";
@import "~swiper/components/pagination/pagination.scss";

@import "./animation.scss";

$logoCol: #383e96;

@mixin transition-opc-trf {
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@mixin transition-trf {
  transition: transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@mixin transition-opc {
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@function myease() {
  @return cubic-bezier(0.215, 0.61, 0.355, 1);
}

.swiper-wrapper {
  transition-timing-function: myease();
}

.swiper-slide {
  overflow: visible;
}

ul,
li {
  padding: 0;
  list-style: none;
}

a {
  &:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
  }
}

p, figure {
  margin: 0;
}

img {
  // width: 100%;
  // max-width: 100%;
  //max-height: 100%;
  // image-rendering: -moz-crisp-edges; /* Firefox */
  // image-rendering: -o-crisp-edges; /* Opera */
  // image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  // image-rendering: crisp-edges;
  // -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}

.clearfix {
  @include clearfix;
}

.scaleable {
  width: 100%;
  height: 100%;
}

// html {
//     @media (max-width: 699px) {
//         font-size:15.5px;
//     }
//     @media (min-width: 700px) and (max-width:999px) {
//         font-size:16px
//     }
//     @media (min-width: 1000px) and (max-width:1199px) {
//         font-size:16px
//     }
//     @media (min-width: 1200px) and (max-width:1599px) {
//         font-size:16px
//     }
//     @media (min-width: 1600px) and (max-width:1999px) {
//         font-size:18px
//     }
//     @media (min-width: 2000px) and (max-width:2399px) {
//         font-size:20px
//     }
//     @media (min-width: 2400px) {
//         font-size:21.5px
//     }
// }
$xs-font-size: 20px; //15.5;
$sm-font-size: 20px;
$md-font-size: 18px;
$lg-font-size: 18px;
$xl-font-size: 20px;
$xxl-font-size: 20px;
$xxxl-font-size: 24px;

// 设计稿尺寸 初期用1920*1080做的，中途改为了1400*800
$design-width: (xxl: 1920px,
  xl: 1400px);
$design-height: (xxl: 1080px,
  xl: 800px);

// pxToRem 用在固定大小，只在break point跟随字体大小变化
@function pxToRem($px, $point: $xs-font-size) {
  @return $px / $point * 1rem;
}

// pxToVw / pxToVh 用在自适应大小，随时占屏幕固定百分比
@function pxToVw($px, $design-width-key: xxl) {
  @return $px / map-get($design-width, $design-width-key) * 100vw;
}

@function pxToVh($px, $design-height-key: xxl) {
  @return $px / map-get($design-height, $design-height-key) * 100vh;
}

:root {
  font-size: $xs-font-size;

  .scale {
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0.2;
    z-index: 199;
    pointer-events: none;

    :after {
      content: "xs";
    }
  }
}

@include media-breakpoint-up(sm) {
  :root {
    font-size: $sm-font-size;

    .scale:after {
      content: "sm";
    }
  }
}

// @include media-breakpoint-down(xl) {
//   :root {
//     font-size: $sm-font-size;

//     // .scale:after {
//     //   content: "sm";
//     // }
//   }
// }

@include media-breakpoint-up(md) {
  :root {
    font-size: $md-font-size;

    .scale:after {
      content: "md";
    }
  }
}

@include media-breakpoint-up(lg) {
  :root {
    font-size: $lg-font-size;

    .scale:after {
      content: "lg";
    }
  }
}

@include media-breakpoint-up(xl) {
  :root {
    font-size: $xl-font-size;

    .scale:after {
      content: "xl";
    }
  }
}

@include media-breakpoint-up(xxl) {
  :root {
    font-size: $xxl-font-size; //1.3rem;

    .scale:after {
      content: "xxl";
    }
  }
}

@include media-breakpoint-up(xxxl) {
  :root {
    font-size: $xxxl-font-size; //1.3rem;

    .scale:after {
      content: "xxxl";
    }
  }
}
html ::selection {
  color: white;
  background-color: $logoCol;
}

body {
  color: $logoCol;
  font-family: "Source Han Sans CN Regular", Helvetica;
  font-weight: normal;
  font-size: inherit;
  background: url("../images/bg_point.png") 0 0 repeat;
  background-attachment: fixed;
}

#loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $logoCol;
  @include transition-trf;
  transition-duration: 0.8s;
  z-index: 150;

  .is-loaded & {
    transform: translate3d(0, -100%, 0);
  }
}

.c-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.c-header-btn {
  display: none;
  position: fixed;
  right: pxToVw(30px, xl); //7.5rem;
  top: pxToVh(30px, xl); //2.2rem;
  width: pxToRem(80px); //5rem;
  height: pxToRem(80px); //5rem;
  z-index: 100;
  cursor: pointer;
}

.menu-on {
  @extend %resize-full;

  background: url("../images/menu_open_btn.png") 50% 50% no-repeat;
  opacity: 1;
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 0.995);

  .nav-on & {
    transform: translate3d(-10px, 0, 0) rotate(90deg);
    opacity: 0;
  }
}

.menu-off {
  @extend %resize-full;

  background: url("../images/menu_close_btn.png") 50% 50% no-repeat;
  opacity: 0;
  transform: rotate(-180deg);
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 0.995);

  .nav-on & {
    transform: none;
    opacity: 1;
  }
}

.c-menubox {
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
  height: pxToRem(46px);
  transform: translate3d(0, -100%, 0);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 0.995);
  background-color: rgba(white, 0.9); //fade-in($logoCol, .5);
  z-index: 99;

  &.nav-on {
    transform: none;
  }
}

.menu-area {
  margin: 0 pxToRem(80px);
  height: 100%;
}

.menu-logo-box {
  position: relative;

  img {
    height: pxToRem(32px);
  }
}

.menu-logo {
  color: $logoCol;
  font-size: pxToRem(28px);

  :hover,
  :visited {
    color: white;
  }
}

.menu-nav {
  margin-left: auto;
}

.menu-ul {}

.menu-ul li {
  color: #4D4D4D;
  display: inline-block;
  font-size: pxToRem(18px);
  //list-style: none;
  //padding: 0;
}

.menu-ul a {
  display: inline-block;
  position: relative;
  overflow: hidden;
  display: block;
  color: #4D4D4D;
  ;
  line-height: pxToRem(46px);
  transition: background-color .2s;

  &:hover {
    background-color: rgba($logoCol, .35);
  }

  &.active {
    background-color: rgba($logoCol, .5);
    //color: white;
  }
}

.menu-link {
  position: relative;
  display: block;
  padding: 0 pxToRem(18px);
  @include transition-trf;
  transition-duration: .4s;

  @include media-breakpoint-up(xxxl){
    font-size: 20px;//pxToRem(20px);
  }

  &:after {
    content: attr(data-title);
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    text-align: center;
    transform: translateZ(0);
    display: block;
    //background: rgba($logoCol, .5);
    color: white;
  }

  a:hover &,
  .active & {
    transform: translateY(-100%);
  }
}

.menu-bottom {
  width: auto; //pxToRem(71px);
  height: 40.2vh;
  margin-left: pxToRem(85px);

  img {
    width: auto;
    height: 100%;
  }
}

.o-scroll {
  width: 100vw;
  height: 100vh;
  transform: translate3d(0, 20vh, 0);
  @include transition-trf;
  transition-duration: 0.8s;
  transition-delay: -0.1s;

  .is-loaded & {
    transform: translate3d(0, 0, 0);
  }
}

main.swiper-wrapper > .swiper-slide{
  transform: translateZ(0); // fix swiper flash
}

.c-section {
  position: relative;
  height: 100vh;
  //overflow: hidden;
  //overflow:auto;
  padding-top: 1px;
  //display: flex;


  @include media-breakpoint-up(xxl) {
    //padding-left: 1.25rem;
    //padding-right: 1.25rem;
  }

  img {
    //width: 100%;
  }
}

%img-resize-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

%resize-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //overflow: hidden;
  //background: url("../images/p0_plus.png") 0 0 repeat;
}

.bg-holder {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}

$p2-top: 66px;

.p0-blueline-bg {
  height: 0;
  overflow: hidden;

  .first-active & {
    transition: height .8s cubic-bezier(.79, .02, .66, 1);
    height: pxToVh(835px, xl); //calc(#{pxToRem($p2-top - 6px)} + 100vh);  
    height: calc(100vh + #{pxToVh(34px, xl)});
    opacity: 1;
  }
}

.p0-bluebg-img {
  //transform: translate3d(-100%, 0, 0);
  //opacity: 0;
  margin-left: pxToVw(282px, xl);
  width: pxToVw(985px, xl);
  height: pxToVh(835px, xl);
}

.p2-bluebg-img {
  //margin-left: pxToVw(320px);
  width: pxToVw(801px);
  height: pxToVh(641px);
}

.p0-linebg,
.p2-linebg {
  position: absolute;
  width: 100%;
  padding-bottom: 17.2%;
  top: calc(60vh - #{pxToRem(165px)});
  overflow: hidden;
  opacity: 0;

  .is-loaded & {
    transition: opacity 1s 1s;
    opacity: 1;
  }
}


.p0-linebg-wrapper {
  @extend %resize-full;
  overflow: hidden;

  canvas {}
}

.p0-plus-bg {
  position: absolute;
  right: pxToVw(202px, xl);
  top: pxToVh(-20px, xl);
  width: pxToVw(360px, xl);
}

.p0-plus-wrapper {
  @extend %img-resize-wrapper;
  padding-bottom: 295px / 360px * 100%;
}

.p0-plus-image {
  @extend %resize-full;
  //background: url("../images/p0_plus.png") 0 0 repeat;
  background: url("../images/p0_point_matrix.svg") top center no-repeat;
  background-size: contain;
}

.p0-ltlogo {
  position: absolute;
  transform: translateY(-150px);
  //top: 2.75rem;
  left: 0;
  height: 30vh;
  //margin-top: 2.75rem;
  padding-top: 2.75rem;
  width: 60vw;
  @include transition-trf;
  transition-duration: .6s;
  transition-delay: .8s;

  .is-loaded & {
    transform: none;
  }

  @include media-breakpoint-up(sm) {
    width: 21rem;
  }
}



.o-center-wrapper-logo {
  position: absolute;
  left: 0;
  top: pxToVh(540px);
  width: 100%;
  margin: auto;
  margin-top: pxToRem(-180px); //-10rem; // -7.75rem;
}

$logo-static-width: 425px; // gif 最后落版宽高
$logo-static-height: 273px;
$logo-stage-width: 680px; // gif 舞台宽高
$logo-stage-height: 457px;
$logo-layout-width: 425px; //487px; // 设计稿宽高 // 不按设计稿，按老黄给的gif尺寸来
$logo-layout-height: 273px; //311px;

.p0-mainlogo {
  position: relative;
  margin: auto;
  transition: all 0.5s;
  width: 80vw;

  @include media-breakpoint-up(sm) {
    width: pxToRem($logo-layout-width);
    height: pxToRem($logo-layout-height);
  }

  @include media-breakpoint-up(md) {}
}

.p0-mainlogo-wrapper {
  //@extend %img-resize-wrapper;
  //padding-bottom: 645px / 960px * 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: $logo-stage-width * $logo-layout-width / $logo-static-width;
  height: $logo-stage-height * $logo-layout-height / $logo-static-height;
  transform: translate3d(-50%, -50%, 0);
}

.p0-mainlogo-image {
  @extend %resize-full;

  img {
    width: auto;
    margin: 0 auto;
  }

  //background: url("../images/p0_mainlogo.png") 0 0 repeat;
  //background-size: cover;
}

.p0-logotext {
  margin: auto;
  margin-top: pxToVh(180px); //12.5vh;
  //width: 12rem;
  font-size: 0;
  text-align: center;

  svg {
    height: pxToRem(26px);
  }
}

.svgtext {
  display: inline-block;
  margin-right: 1px;
  //width: 24px;
  height: 26px;

  svg {
    height: 100%;
  }
}

@keyframes move {
  0% {
    opacity: .4;
    stroke-dashoffset: 100px;
  }

  100% {
    opacity: 1;
    stroke-dashoffset: 0;
  }
}
#slogn .cls-2{
  opacity: 0;
  animation: fadeIn .5s linear 3s both;
}

.p0-logo-textline {
  display: block;
  margin-bottom: 1px;
  opacity: 0;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  @include transition-opc-trf;

  &:first-of-type {
    transition-delay: 2.6s;
  }

  &:nth-of-type(2) {
    transition-delay: 2.7s;
  }

  &:nth-of-type(3) {
    transition-delay: 2.8s;
  }

  span {
    display: inline-block;
    padding: 0 0.25rem;
    line-height: 1.3rem;
    color: #fff;

    font: {
      size: 1rem;
      //weight: bold;
    }

    background-color: $logoCol;
  }

  .is-loaded & {
    transform: none;
    opacity: 1;
    transition-duration: 0.8s;
  }
}

#section2 {
  //background: rgba(0, 0, 0, .2);
}

.p1-holder-pos {
  position: relative;
  margin-top: pxToVh(394px, xl);
  width: 100vw;
  height: pxToVh(482px, xl);
  opacity: 0;
  transform: translate3d(0, 5vh, 0);
  @include transition-opc-trf;
  transition-duration: .5s;
  transition-delay: 1s;

  .first-active & {
    transform: none;
    opacity: 1;
  }
}

.p1-contents-height {
  position: relative;
  width: 100vw;
  //overflow: hidden;
  //top: -50%;
  transform: translate3d(0, -50%, 0);
  padding-bottom: 482px / map-get($design-width, xl) * 100%; //59.16%;
}

.p1-contents {
  @extend %resize-full;
  --swiper-navigation-color: #fff;

  .swiper-button-prev,
  .swiper-button-next {
    left: pxToVw(140px, xl);
    width: pxToRem(30px);
    height: pxToRem(80px);
    background: url(../images/prev_white.png) center center no-repeat;
    background-size: contain;

    &::after {
      opacity: 0;
    }
  }

  .swiper-button-next {
    left: auto;
    right: pxToVw(140px, xl);
    transform: scaleX(-1);
  }
}

.p1-slide-tip {
  position: absolute;
  top: 100%;
  right: pxToVw(64px, xl);
}

.media-slide {
  overflow: hidden;

  img {
    width: 100%;
  }
}

.p1-detail {
  position: absolute;
  left: 50%;
  bottom: pxToVh(18px, xl);
  //width: pxToRem(77px);

  height: pxToRem(21px);

  span {
    display: block;
    padding: 0 pxToRem(10px);
    line-height: pxToRem(21px);
    border-radius: pxToRem(3px);
    border: 1px solid white;
    text-align: center;
    font-size: pxToRem(18px);
    color: white;
    background-color: $logoCol;
    font-family: Helvetica;
    transform: translate3d(-50%, 0, 0);
  }

  &:hover {
    color: white;
  }
}

.p1-ltlogo {
  position: absolute;
  left: pxToVw(88px, xl);
  top: pxToVh(48px, xl);
  width: pxToRem(200px);
}

.p1-lb-icon {
  position: absolute;
  left: pxToVw(89px, xl);
  bottom: pxToVh(46px, xl);
  width: pxToRem(216px);
  height: pxToRem(52px);
}

.column-title{
  position: absolute;
  p{
    font-size: pxToRem(27px);
  }
}
.p2-title {
  left: pxToVw(89px, xl);
  bottom: pxToVh(118px, xl);
  width: pxToVw(409px, xl);
}

.p2-content-bg {
  position: absolute;
  //top: pxToVh(505px);
  right: pxToVw(59px, xl);
  bottom: pxToVh(100px - 15px, xl);

  //width: pxToVw(684px, xl);
  height: pxToVh(292px, xl);


  .p2-machine {
    display: inline-block;
    vertical-align: bottom;
    width: pxToVw(638px, xl);
    height: pxToVh(292px, xl);
  }

  .p2-machine-warn {
    display: inline-block;
    vertical-align: bottom;
    width: pxToVw(91px, xl);
    height: pxToVw(38px, xl);
  }
}

.p2-bg-leftside {
  position: absolute;
  left: 0;
  top: pxToVh(90px, xl);
  height: pxToVh(635px, xl);

  img {
    height: 100%;
  }
}

.p2-linebg {
  top: calc(100vh - #{pxToVh(100px, xl)});
}

.p2-linebg-wrapper {
  @extend %img-resize-wrapper
}

.p2-bluebg-1 {
  position: absolute;
  left: pxToVw(282px, xl);
  top: pxToVh(34px, xl);
  width: pxToVw(298px, xl);
  height: pxToVh(122px, xl);

  img {
    height: 100%;
  }
}

.p2-bluebg-2 {
  position: absolute;
  right: pxToVw(507px, xl);
  bottom: 0;
  width: pxToVw(412px, xl);
  height: pxToVh(356px, xl);
  overflow: hidden;
  text-align: right;

  img {
    position: absolute;
    right: 0;
    bottom: 0;
    width: pxToVw(412px, xl);
    height: pxToVh(356px, xl);
  }
}

.swiper-button-prev.pretty-navigation,
.swiper-button-next.pretty-navigation {
  right: auto;
  width: pxToRem(88px);
  height: pxToRem(180px);

  &::after {
    display: none;
  }
}

.swiper-button-next.pretty-navigation {
  left: auto;
  transform: scaleX(-1);
}

.swiper-button-prev-bg {
  width: 100%;
  height: 100%;
  @include transition-opc-trf;
  transition-duration: 0.2s;
  background: url(../images/prev_btn.png) center center no-repeat;
  background-size: contain;

  .arrow-out &{
    transform: translate3d(-30%, 0, 0);
    opacity: 0;
  }
}

.p2-contents {
  position: relative;
  margin: pxToVh(114px, xl) auto auto;
  padding-left: pxToVw(45px, xl);
  width: pxToVw(1080px, xl);
  height: pxToVh(366px, xl);
  .swiper-button-prev,.swiper-button-next{
    top: pxToVh(128px, xl);
    left: pxToVw(-108px, xl);
    right: auto;
  }
  .swiper-button-next{
    left: auto;
    right: pxToVw(-108px, xl);
  }
}


.tech-slide {
  width: 100%;
  @include clearfix;
  padding: pxToVh(18px, xl) pxToRem(30px) 0;
}

.p2-desc {
  padding: 0 0.5rem;
  font-size: 1rem;
  line-height: pxToRem(41px);
}

.p2-desc span {
  color: white;
  padding: pxToRem(8px) 0.25rem;
  background-color: $logoCol;
  box-shadow: 0.5rem 0 0 $logoCol, -0.5rem 0 0 $logoCol;
  -webkit-box-decoration-break: clone; //IE9 not support
  box-decoration-break: clone;
}

.p2-cont-tit {
  margin-left: pxToVw(455px, xl);
  //height: pxToVh(122px, xl);
  //float: right;
  font-size: pxToRem(30px);
  color: white;
  //text-align: right;

  :first-child {
    margin-right: pxToRem(16px);
  }

  p {
    transition: transform 0.3s myease();
  }

  span {
    line-height: pxToRem(38px);
    background-color: $logoCol;
    padding: pxToRem(8px);
  }
}
.column-count-3{
  column-count: 3;
  column-gap: pxToVw(38px, xl);
}
.column-count-2{
  column-count: 2;
  column-gap: pxToVw(38px, xl);
}
.p2-cont-detal {
  margin-top: pxToRem(48px);
  clear: left;
  width: 100%;
  overflow: hidden;
  color: $logoCol;
  font-size: 1rem;
  line-height: pxToRem(30px);

  p {
    margin-bottom: pxToVh(24px, xl);
  }
}

.p2-left-side,
.p3-right-side {
  position: absolute;
  right: 0;
  top: pxToVh(28px, xl);
  transform: translateX(100%) rotate(90deg);
  transform-origin: left top;

  p {
    font-size: pxToRem(54px);
    font-family: Arial Black, Helvetica, 'san-serif';
    line-height: pxToRem(54px);
  }
}

.p2-left-side {
  left: 0;
  right: auto;
  transform: rotate(90deg);
  transform-origin: left bottom;
}

.p3-contents {
  position: relative;
  margin: pxToVh(120px, xl) auto 0;
  padding: 0;
  width: pxToVw(1240px, xl);
  .row{
    margin: 0;
  }
}
.p3-cont-left{
  padding-left: 0;
  padding-right: pxToVw(20px, xl);
}

.p3-prodect-title {
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.p3-prodect-tittext,
.p4-prodect-tittext {
  float: left;
  font-size: pxToRem(48px);
  line-height: pxToRem(58px);
  margin-bottom: 0;
}

.p4-prodect-tittext {
  float: none;
}

.p3-prodect-index,
.p4-prodect-index {
  float: left;
  margin: pxToVh(-8px, xl) auto ;
  width: pxToVw(124px, xl);
  width: pxToVw(158px, xl);
}

.p4-prodect-index {
  margin-right: pxToVw(12px, xl);
}

.p3-cont-right {
  margin-top: pxToVh(112px, xl);
  padding-left: 0;
  padding-right: 0;
  overflow: hidden;
  //border-left: 1px solid $logoCol;

  p {
    line-height: pxToRem(28px);
    font-size: pxToRem(20px);
    margin-bottom: pxToRem(26px);
  }
}
.p3-paragraph{
  position: relative;
  padding-left: pxToRem(14px);
  @include media-breakpoint-up(xl) {
    margin-top:pxToVh(30px, xl);
  }
  @include media-breakpoint-up(xxl) {
    margin-top:pxToVh(60px, xl);
  }
}
.p3-vertical-border{
  position: absolute;
  left: 0;
  top: 0;
  width: 1px;
  height: 100%;
  background-color: $logoCol;
}
.p3-product-region{
  position: relative;
  margin-top: pxToVh(-46px, xl);
}
.p3-product-msg {
  //padding-left: pxToVw(25px, xl);
  //width: 100%;
  margin: 0 pxToVw(40px, xl);
  padding-bottom: pxToVh(60px, xl);
  overflow: hidden;
  //margin-top: pxToVh(-62px, xl);
  text-align: center;

  .swiper-slide{
    padding-right: pxToVw(20px, xl);
  }
  img {
    max-width: 100%;
  }

  .swiper-pagination-bullet {
    width: pxToRem(16px);
    height: pxToRem(16px);
    margin: 0 pxToRem(15px) !important;
    border: 1px solid $logoCol;
    background-color: transparent;
    opacity: 1;
  }

  .swiper-pagination-bullet-active {
    background-color: $logoCol;
  }
}
.p3-prev,.p3-next{
  position: absolute;
  top: 0;
  left:0;
  width: 4.21%;
  height: 100%;
  max-width: pxToRem(40px);
  background: url("../images/p3_prev.png") center center no-repeat;
  background-size: contain;
  opacity: .4;
  cursor: pointer;
}
.p3-next{
  left:auto;
  right:0;
  background-image: url("../images/p3_next.png");
}
.p3-title{
  //width: pxToRem(417px);
  right: pxToVw(76px, xl);
  bottom: pxToVh(591px, xl);
  //top: pxToVh(98px, xl);
  //width: pxToVw(246px, xl);
  height: pxToVh(111px, xl);
  p{
    height: pxToRem(33px);
    line-height: pxToRem(33px);
  }
  img{
    height: pxToVh(80px, xl);
  }
}

.swiper-container {
  // margin: pxToVh(330px) auto 0;
  // width: pxToRem(1329px);
  // height: pxToRem(619px);
}

.swiper-wrapper.mousewheel {
  transition-duration: 0.3s !important;
}

.p3-bluebg-1 {
  position: absolute;
  top: 0;
  left: pxToVw(655px, xl);
  width: pxToVw(405px, xl);
  height: pxToVh(207px, xl);
}

.p3-bluebg-2 {
  position: absolute;
  width: pxToVw(478px, xl);
  height: pxToVh(431px, xl);
  right: 0;
  top: pxToVh(744px, xl);
}
.p4-bluebg-1{
  position: absolute;
  top: pxToVh(598px, xl);
  right: pxToVw(401px, xl);
  width: pxToVw(650px, xl);
  height: pxToVh(573px, xl);
}
.p4-prodect-title {
  position: absolute;
  left: pxToVw(80px, xl);
  top: pxToVh(145px, xl);
  width: pxToVw(835px, xl);
}

.p4-prodect-tit-right {
  float: left;
}
.p4-contents{
  position: relative;
  margin: pxToVh(400px, xl) auto 0;
  padding-left: pxToVw(30px, xl);
  width: pxToVw(1026px, xl);
  height: pxToVh(225px, xl);
  .swiper-button-prev,.swiper-button-next{
    top: 0;
  }
  .swiper-button-prev{
    //top: pxToVh(128px, xl);
    left: pxToVw(-120px, xl);
    
  }
  .swiper-button-next{
    right: pxToVw(-120px, xl);
  }
  .swiper-slide{
    display: flex;
    pointer-events: none;
    &.support-slide-active{
      pointer-events: auto;
    }
    &:nth-child(2) .p4-box{
      background-image: url(../images/p4_conttit_2.png);
    }
    &:nth-child(3) .p4-box{
      background-image: url(../images/p4_conttit_2.png);
    }
  }
  p{
    font-weight: bold;
  }
}
.p4-box {
  //padding: pxToRem(10px) 0 0 pxToRem(20px);
  width: pxToRem(390px);
  height: pxToRem(118px);
  border: 1px solid $logoCol;
  font-size: pxToRem(38px);
  line-height: pxToRem(118px);
  text-align: center;
  display: inline-block;
  background: url(../images/p4_conttit_1.png) center center no-repeat;
  //background-size: contain;

  &:after{
    content: "";
    display: block;
    position: absolute;
    left: -1px;
    top: -1px;
    width: pxToVw(33px, xl);
    height: pxToVh(20px, xl);
    background: url(../images/p4_tit_icon.png) 0 0 no-repeat;
  }

  span{
    transform: translate3d(0, 10px, 0);
    opacity: 0;
    
    .support-slide-active &{
      @include transition-opc-trf;
      transition-duration: .2s;
      transform: none;
      opacity: 1;
    }
  }
  
}
.p4-detail{
  //margin-left: pxToRem(395px);;
  font-size: pxToRem(25px);
  float: left;
  opacity: 0;
  .support-slide-active &{
    opacity: 1;
    @include transition-opc;
    transition-duration: .3s;
    transition-delay: .1s;
  }
}

.p5-bluebg-1{
  position: absolute;
  left: pxToVw(351px, xl);
  top: pxToVh(371px, xl);
  width: pxToVw(886px, xl);
  height: pxToVh(544px, xl);
}
.p5-linebg{
  position: absolute;
  left: pxToRem(5px);
  bottom: pxToRem(22px); 
  width: pxToRem(330px);
}
// #innerCircHolder{
//   transform-origin: center center;
//   animation: roll 5s linear infinite;
// }
// #outerCircHolder{
//   transform-origin: center center;
//   animation: antiroll 5s linear infinite;
// }
.p5-title{
  top: pxToVh(68px, xl);
  right: pxToVw(216px, xl);
  width: pxToVw(270px, xl);
}
$p5-contents-height: 458px;
.p5-contents{
  position: relative;
  display: flex;
  margin: pxToVh(252px, xl) auto 0;
  width: pxToVw(1112px, xl);
  height: pxToVh($p5-contents-height, xl);
  border: 1px solid $logoCol;
  background-color: rgba(white, .8);
}
.p5-thumb{
  width: 174px / 1111px * 100%;
  border-right: 1px solid $logoCol;
  margin: pxToVh(18px, xl) 0;
  overflow: hidden;
  .swiper-slide{
    position: relative;
    padding-left: pxToVw(26px, xl);
    padding-right: pxToVw(14px, xl);
    opacity: .4;
    @include transition-opc-trf;
    transition-duration: .2s;
    cursor: pointer;
    &::after{
      content: "";
      position: absolute;
      top: 70%;
      display: none;
      width: pxToRem(42px);
      height: pxToRem(30px);
      background: url(../images/p5_model_active.svg) 0 0 no-repeat;
      background-size: contain;
      //display: none;
    }
    &:hover, &.swiper-slide-thumb-active{
      opacity: 1;
    }
    &.swiper-slide-thumb-active:after{
      display: block;
    }
    img{
      position: relative;
      top:40%;
      transform: translate3d(0, -50%, 0);
    }
    &:first-child img{
      width: pxToVw(96px, xl);
    }
    &:nth-child(2) img{
      width: pxToVw(100px, xl);
    }
    &:nth-child(3) img{
      width: pxToVw(88px, xl);
    }

    //padding: ;
    //margin: 20px 0;
  }
}
.p5-thumb-scrollbar{
  position: absolute;
  left: pxToRem(-5px);
  top: pxToVh(80px, xl);
  height: pxToVw($p5-contents-height - 80 * 2, xl);
  width: pxToRem(10px);
  border-radius: 0;
  overflow: hidden;
  background-color: transparent;
  .swiper-scrollbar-drag{
    width: pxToRem(10px);
    border-radius: 0;
    background-color: $logoCol;
  }
}
.p5-msgcont{
  display: flex;
  padding: pxToVh(18px) 0;
  .swiper-slide{
    display: flex;
    pointer-events: none;
    &.case-slide-active{
      pointer-events: auto;
    }
  }
}
.p5-text-area{
  width: pxToVw(360px, xl);
  padding: pxToVh(32px) pxToVw(36px, xl) 0;
  font-family: Helvetica;
}
%fadeUpIn{
  transform: translate3d(0, 30px, 0);
  opacity: 0;
  @include transition-opc-trf;
  transition-duration: 0.6s;
  transition-delay: .2s ;
  .case-slide-active &{
    transform: none;
    opacity: 1;
  }
}
.p5-sub-title{
  font-size: pxToRem(20px);
  font-weight: bold;
  @extend %fadeUpIn;
}
.p5-model-title{
  font-size: pxToRem(23px);
  line-height: pxToRem(32px);
  @extend %fadeUpIn;
  transition-delay: .3s ;
}
.p5-model-detail{
  font-size: pxToRem(16px);
  line-height: pxToRem(22px);
  @extend %fadeUpIn;
  transition-delay: .4s ;
}
.p5-imageholder{
  margin-top: pxToVh(-44px, xl);
  position: relative;
  width: pxToVw(535px, xl); 
}
.p5-modelimg{
  position: absolute;
  right:2px;
  top: 1px;
  width: pxToVw(507px, xl);
  //height: pxToVh(358px, xl);
  overflow: hidden;
  opacity: 0;
  transition: opacity .3s linear .6s;
  .case-slide-active &{
    opacity: 1;
  }
}
#section6{
  //height: pxToVh(813px, xl);
  height: calc(#{pxToVh(652px, xl)} + #{pxToRem(162px)});
}
.p6-bluebg-1{
  position: absolute;
  right:pxToVw(164px, xl);
  top: pxToVh(115px, xl);
  width: pxToVw(514px, xl);
  height: pxToVh(698px, xl);
}
.p6-title{
  position: absolute;
  left: pxToVw(87px, xl);
  top: pxToVh(85px, xl);
  width: pxToVw(207px, xl);
}
.p6-rb-icon{
  position: absolute;
  right: pxToVw(26px, xl);
  top: pxToVh(602px, xl);
  width:  pxToVw(145px, xl);
}
.p6-contents-pos{
  position: relative;
  margin: pxToVh(282px, xl) auto 0;
  width: 100%;
  .p6-prev, .p6-next{
    position: absolute;
    top: pxToRem(75px);
    left: auto;
    right: pxToVw(1240px, xl);
  }
  .p6-next{
    left: pxToVw(1240px, xl);
    right: auto;
  }
}
.p6-contents{
  position: relative;
  margin: 0 auto;
  width: pxToVw(1059px, xl);
  overflow: hidden;
}
.news-slide{

}
.p6-news-link{
  display: block;
  width: 100%;
}
.p6-newsimg-size{
  @extend %img-resize-wrapper;
  padding-bottom: 212px / 320px * 100%; 
}
.p6-img-wrapper{
  @extend %resize-full;
  overflow: hidden;
  img{
    width: 100%;
    @include transition-trf;
    transition-duration: .8s;
    transform: translateZ(0);
    .p6-news-link:hover &{
      transform: scale(1.03) translateZ(0);
    }
  }
}
.p6-news-info{
  margin: 0 auto;
  padding: 0 pxToRem(14px) pxToRem(16px);
  width: 289px / 321px * 100%;
  max-height: pxToRem(128px);
  color: $logoCol;
  background-color: #dbdbdb;
  font-family: Helvetica, sans-serif;
  transition: all .3s;

  .p6-news-link:hover &{
    color: white;
    background-color: $logoCol;
  }

  span{
    padding-top: pxToRem(4px);
    font-size: pxToRem(10px);
    line-height: pxToRem(16px);
  }
  h3{
    font-size: pxToRem(15px);
    line-height: pxToRem(18px);
  }
  p{
    font-size: pxToRem(10px);
    line-height: pxToRem(14px);
  }
}
#section7{
  background-color: black;
}
footer{
  position: relative;
  //top: pxToVh(652px, xl);

  margin: 50px auto 0;
  width: 100vw;
  height: pxToRem(162px);
  background-color: black;
}
.footer-logo{
  width: pxToRem(232px);
  padding: 0;
  img{
    margin-left: pxToRem(-148px);
  }
  
}
.footer-container{
  display: relative;
  width: pxToRem(630px) !important;
  margin: 0 auto;
  padding-top: pxToRem(20px);
  padding-bottom: pxToRem(16px);
 
}
.shares{
  text-align: center;
}

.icon {
  margin: pxToRem(6px);
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: white;
  overflow: hidden;
}
.footer-right{
  padding: 0;
  font-size: 12px;
  width: pxToRem(224px);
  line-height: pxToRem(30px);
  li{
    display: inline-block;
    color: white;
  }
}
.copyright{
  width: pxToRem(305px);
  margin: 0 auto;
  padding-top: pxToRem(20px);
  border-top: 1px solid #808080;
  min-width: pxToRem(630px);
  p{
    height: pxToRem(24px);
    line-height: pxToRem(24px);
    text-align: center;
    color: #808080;
    font-size: 8px;
  }
  span{
    padding: 0 pxToRem(7px);
  }
}
