@import "bootstrap.custom.scss"; //自定义bootstrap

@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";
@import "bootstrap/scss/_mixins";

@import "bootstrap/scss/_grid"; //  引入栅格
@import "bootstrap/scss/_reboot"; //  引入样式重置

@import "~swiper/components/scrollbar/scrollbar.scss"; // ??? index.js中import失败
@import "~swiper/components/navigation/navigation.scss";

$logoCol: #383e96;
@mixin transition-opc-trf{
  transition: opacity 0s cubic-bezier(0.215, 0.61, 0.355, 1),
    transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@mixin transition-trf{
  transition: transform 0s cubic-bezier(0.215, 0.61, 0.355, 1);
}
@function myease(){
  @return cubic-bezier(0.215, 0.61, 0.355, 1);
}
.swiper-slide{
  overflow: visible;
}

ul,
li {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
p{
  margin: 0;
}
img {
  // width: 100%;
  // max-width: 100%;
  //max-height: 100%;
  // image-rendering: -moz-crisp-edges; /* Firefox */
  // image-rendering: -o-crisp-edges; /* Opera */
  // image-rendering: -webkit-optimize-contrast; /* Webkit (non-standard naming) */
  // image-rendering: crisp-edges;
  // -ms-interpolation-mode: nearest-neighbor; /* IE (non-standard property) */
}
.scaleable{
  width: 100%;
  height: 100%;
}

// html {
//     @media (max-width: 699px) {
//         font-size:15.5px;
//     }
//     @media (min-width: 700px) and (max-width:999px) {
//         font-size:16px
//     }
//     @media (min-width: 1000px) and (max-width:1199px) {
//         font-size:16px
//     }
//     @media (min-width: 1200px) and (max-width:1599px) {
//         font-size:16px
//     }
//     @media (min-width: 1600px) and (max-width:1999px) {
//         font-size:18px
//     }
//     @media (min-width: 2000px) and (max-width:2399px) {
//         font-size:20px
//     }
//     @media (min-width: 2400px) {
//         font-size:21.5px
//     }
// }
$xs-font-size: 20px; //15.5;
$sm-font-size: 20px;
$md-font-size: 18px;
$lg-font-size: 18px;
$xl-font-size: 20px;
$xxl-font-size: 20px;

// 设计稿尺寸 初期用1920*1080做的，中途改为了1400*800
$design-width: (
  xxl: 1920px,
  xl: 1400px
);
$design-height: (
  xxl: 1080px,
  xl: 800px
);

// pxToRem 用在固定大小，只在break point跟随字体大小变化
@function pxToRem($px, $point: $xs-font-size) {
  @return $px / $point * 1rem;
}

// pxToVw / pxToVh 用在自适应大小，随时占屏幕固定百分比
@function pxToVw($px, $design-width-key: xxl) {
  @return $px / map-get($design-width, $design-width-key) * 100vw;
}
@function pxToVh($px, $design-height-key: xxl) {
  @return $px / map-get($design-height, $design-height-key) * 100vh;
}

:root {
  font-size: $xs-font-size;

  .scale {
    position: fixed;
    right: 0;
    top: 0;
    opacity: 0.2;

    :after {
      content: "xs";
    }
  }
}

@include media-breakpoint-up(sm) {
  :root {
    font-size: $sm-font-size;

    .scale:after {
      content: "sm";
    }
  }
}

@include media-breakpoint-up(md) {
  :root {
    font-size: $md-font-size;

    .scale:after {
      content: "md";
    }
  }
}

@include media-breakpoint-up(lg) {
  :root {
    font-size: $lg-font-size;

    .scale:after {
      content: "lg";
    }
  }
}

@include media-breakpoint-up(xl) {
  :root {
    font-size: $xl-font-size;

    .scale:after {
      content: "xl";
    }
  }
}

@include media-breakpoint-up(xxl) {
  :root {
    font-size: $xxl-font-size; //1.3rem;

    .scale:after {
      content: "xxl";
    }
  }
}

body {
  color: $logoCol;
  font-family: "Source Han Sans CN Regular", Helvetica;
  font-weight: normal;
  font-size: inherit;
  background: url("../images/bg_point.png") 0 0 repeat;
  background-attachment: fixed;
}

#loading {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: $logoCol;
  @include transition-trf;
  transition-duration: 0.8s;
  z-index: 150;

  .is-loaded & {
    transform: translate3d(0, -100%, 0);
  }
}

.c-header-btn {
  position: fixed;
  right: pxToVw(30px, xl); //7.5rem;
  top: pxToVh(30px, xl);//2.2rem;
  width: pxToRem(80px);//5rem;
  height: pxToRem(80px);//5rem;
  z-index: 100;
  cursor: pointer;
}

.menu-on {
  @extend %resize-full;

  background: url("../images/menu_open_btn.png") 50% 50% no-repeat;
  opacity: 1;
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 0.995);

  .nav-on & {
    transform: translate3d(-10px, 0, 0) rotate(90deg);
    opacity: 0;
  }
}

.menu-off {
  @extend %resize-full;

  background: url("../images/menu_close_btn.png") 50% 50% no-repeat;
  opacity: 0;
  transform: rotate(-180deg);
  transition: all 1s cubic-bezier(0.86, 0, 0.07, 0.995);

  .nav-on & {
    transform: none;
    opacity: 1;
  }
}

.c-menubox {
  position: fixed;
  right: 0;
  top: 0;
  width: 14.1rem;
  height: 100vh;
  transform: translate3d(100%, 0, 0);
  transition: transform 1s cubic-bezier(0.86, 0, 0.07, 0.995);
  background-color: rgba(56, 62, 150, 0.3); //fade-in($logoCol, .5);
  z-index: 99;

  .nav-on & {
    transform: translate3d(0, 0, 0);
  }
}

.menu-area {
  margin: 6.2rem 0 0 3rem;
}

.menu-logo {
  color: $logoCol;
  font-size: 1.4rem;

  :hover,
  :visited {
    color: white;
  }
}

.menu-ul {
  //list-style: none;
}

.menu-ul li {
  color: white;
  //list-style: none;
  //padding: 0;
}

.menu-ul a {
  :hover,
  :visited {
    color: white;
  }
}
.menu-ul span {
  line-height: 3rem;
  line-height: pxToRem(60px);
  color: white;
}
.menu-bottom {
  width: auto; //pxToRem(71px);
  height: 40.2vh;
  margin-left: pxToRem(85px);
  img {
    width: auto;
    height: 100%;
  }
}

.o-scroll {
  // min-height: 100vh;
  width: 100vw;
  height: 100vh;
  //overflow: hidden;
  main > div {
    //border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
}

.c-section {
  position: relative;
  height: 100vh;
  //overflow: hidden;
  display: flex;

  margin {
    left: auto;
    right: auto;
  }
  @include media-breakpoint-up(xxl) {
    margin {
      left: 1.25rem;
      right: 1.25rem;
    }
  }
  img {
    //width: 100%;
  }
}

%img-resize-wrapper {
  width: 100%;
  position: relative;
  padding-bottom: 100%;
}

%resize-full {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  //overflow: hidden;
  //background: url("../images/p0_plus.png") 0 0 repeat;
}
.bg-holder{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
  overflow: hidden;
}
$p2-top: 66px;
.p0-blueline-bg {

  height: 0;
  //opacity: 0;
  overflow: hidden;
  
  .first-active &{
    transition: height 1s cubic-bezier(.79,.02,.66,1) .1s;
    //height: 100vh;
    height: pxToVh(835px, xl);//calc(#{pxToRem($p2-top - 6px)} + 100vh);  
    opacity: 1;
  }
  // img{
  //   height: calc(#{pxToRem($p2-top - 6px)} + 100vh); 
  // }
}

.p0-bluebg-img{
  //transform: translate3d(-100%, 0, 0);
  //opacity: 0;
  margin-left: pxToVw(282px, xl);
  width: pxToVw(985px, xl);
  height: pxToVh(835px, xl);
}

.p2-bluebg-img{
  //margin-left: pxToVw(320px);
  width: pxToVw(801px);
  height: pxToVh(641px);
}

.p0-linebg {
  position: absolute;
  width: 100%;
  padding-bottom: 17.2%;
  top: calc(60vh - 165px);
  overflow: hidden;
}

.p0-linebg-wrapper {
  @extend %resize-full;
  overflow: hidden;
  canvas {
    
  }
}

.p0-plus-bg {
  position: absolute;
  left: 27.4%;
  width: 32.4%;
}

.p0-plus-wrapper {
  @extend %img-resize-wrapper;
  padding-bottom: 72.8%;
}

.p0-plus-image {
  @extend %resize-full;
  background: url("../images/p0_plus.png") 0 0 repeat;
}

.p0-ltlogo {
  position: absolute;
  //top: 2.75rem;
  left: 0;
  height: 30vh;
  //margin-top: 2.75rem;
  padding-top: 2.75rem;
  width: 60vw;

  @include media-breakpoint-up(sm) {
    width: 21rem;
  }
}



.o-center-wrapper-logo {
  position: absolute;
  left: 0;
  top: pxToVh(540px);
  width: 100%;
  margin: auto;
  margin-top: pxToRem(-180px); //-10rem; // -7.75rem;
}

$logo-static-width: 425px; // gif 最后落版宽高
$logo-static-height: 273px;
$logo-stage-width: 680px; // gif 舞台宽高
$logo-stage-height: 457px;
$logo-layout-width: 425px; //487px; // 设计稿宽高 // 不按设计稿，按老黄给的gif尺寸来
$logo-layout-height: 273px; //311px;

.p0-mainlogo {
  position: relative;
  margin: auto;
  transition: all 0.5s;
  width: 80vw;

  @include media-breakpoint-up(sm) {
    width: pxToRem($logo-layout-width);
    height: pxToRem($logo-layout-height);
  }
  @include media-breakpoint-up(md) {
  }
}

.p0-mainlogo-wrapper {
  //@extend %img-resize-wrapper;
  //padding-bottom: 645px / 960px * 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  width: $logo-stage-width * $logo-layout-width / $logo-static-width;
  height: $logo-stage-height * $logo-layout-height / $logo-static-height;
  transform: translate3d(-50%, -50%, 0);
}

.p0-mainlogo-image {
  @extend %resize-full;
  img {
    width: auto;
    margin: 0 auto;
  }
  //background: url("../images/p0_mainlogo.png") 0 0 repeat;
  //background-size: cover;
}

.p0-logotext {
  margin: auto;
  margin-top: pxToVh(154px); //12.5vh;
  width: 12rem;
  font-size: 0;
}

.p0-logo-textline {
  display: block;
  margin-bottom: 1px;
  opacity: 0;
  transform-origin: 50% 0;
  transform-style: preserve-3d;
  transform: translateY(100%) rotateX(-80deg);
  @include transition-opc-trf;
  
  &:first-of-type{
    transition-delay: 2.6s;
  }
  &:nth-of-type(2){
    transition-delay: 2.7s;
  }
  &:nth-of-type(3){
    transition-delay: 2.8s;
  }
  span{
    display: inline-block;
    padding: 0 0.25rem;
    line-height: 1.3rem;
    color: #fff;
    font: {
      size: 1rem;
      //weight: bold;
    }
    background-color: $logoCol;
  }

  .is-loaded & {
    transform: none;
    opacity: 1;
    transition-duration: 0.8s;
  }
}

.pp-bluebg-holder{
  position: absolute;
  left:0;
  top: 50vh;
  width:100vw;
  height:100vh;
  overflow: hidden;
}
.pp-bg-target{
  position: fixed;
  left:0;
  top: 0;
  width:100vw;
  height:100vh;
  background-color: $logoCol;
  transform: translate3d(100%,0,0);
  transition: all 1s;
  .is-inview>&{
    transform: none;
  }
}

#section2 {
  //background: rgba(0, 0, 0, .2);
}

.p1-holder-pos {
  position: relative;
  margin-top: pxToVh(394px, xl);
  width: 100vw;
  //opacity: 0;/
}

.p1-contents-height {
  position: relative;
  width: 100vw;
  overflow: hidden;
  top: -50%;
  padding-bottom: 33.8%; //59.16%;
}

.p1-contents {
  @extend %resize-full;
  --swiper-navigation-color: #fff;

  .swiper-button-prev, .swiper-button-next{
    width: pxToRem(30px);
    height: pxToRem(80px);
    background: url(../images/prev_white.png) center center no-repeat;
    background-size: contain;

    &::after{
      opacity: 0;
    }
  }
  .swiper-button-next{
    transform: scaleX(-1);
  }
}

.media-slide{
  img{
    width: 100%;
  }
}

.p1-ltlogo{
  position: absolute;
  left: pxToVw(88px, xl);
  top: pxToVh(48px, xl);
}
.p1-lb-icon{
  position: absolute;
  left: pxToVw(89px, xl);
  bottom: pxToVh(46px, xl);
  width: pxToRem(216px);
  height: pxToRem(52px);
}
.p2-title{
  position: absolute;
  left: pxToVw(89px, xl);
  bottom: pxToVh(118px, xl);
  width: pxToVw(409px, xl);
  p{
    font-size: 27px;
  }
}

.p2-content-bg {
  position: absolute;
  //top: pxToVh(505px);
  right: pxToVw(59px, xl);
  bottom: pxToVh(100px - 15px, xl);

  //width: pxToVw(684px, xl);
  height: pxToVh(292px, xl);
  

  .p2-machine{
    display: inline-block;
    vertical-align: bottom;
    width: pxToVw(638px, xl);
    height: pxToVh(292px, xl);
  }
  .p2-machine-warn {
    display: inline-block;
    vertical-align: bottom;
    width: pxToVw(91px, xl);
    height: pxToVw(38px, xl);
  }
}
.p2-bg-leftside{
  position: absolute;
  left: 0;
  top: pxToVh(90px, xl);
  height: pxToVh(635px, xl);
  img{
    height: 100%;
  }
}
.p2-bluebg-1{
  position: absolute;
  left: pxToVw(282px, xl);
  top: pxToVw(34px - 1px, xl);
  width: pxToVw(298px, xl);
  height: pxToVh(122px, xl);
  img{
    height: 100%;
  }
}
.p2-bluebg-2{
  position: absolute;
  left: pxToVw(481px, xl);
  bottom: 0;
  width: pxToVw(412px, xl);
  height: pxToVh(356px, xl);
  img{
    height: 100%;
  }
}

.p2-contents {
  position: relative;
  margin: pxToVh(78px, xl) auto auto;
  padding-left: pxToVw(45px, xl);
  width: pxToVw(1080px, xl);
  height: pxToVh(366px, xl);
  .swiper-button-prev, .swiper-button-next{
    top: pxToVh(128px, xl);
    left: pxToVw(-108px, xl);
    right: auto;
    width: pxToRem(88px);
    height: pxToRem(180px);
    background: url(../images/prev_btn.png) center center no-repeat;
    background-size: contain;
    &::after{
      opacity: 0;
    }
  }
  .swiper-button-next{
    right: pxToVw(-108px, xl);
    left: auto;
    transform: scaleX(-1);
  }
}
.tech-slide{
  width: 100%;
  @include clearfix;
  padding: pxToVh(18px, xl) pxToRem(30px) 0;
}
.p2-title {
  width: pxToRem(698px);
  margin-bottom: pxToRem(30px);
}
.p2-desc {
  padding: 0 0.5rem;
  font-size: 1rem;
  line-height: pxToRem(41px);
}
.p2-desc span {
  color: white;
  padding: pxToRem(8px) 0.25rem;
  background-color: $logoCol;
  box-shadow: 0.5rem 0 0 $logoCol, -0.5rem 0 0 $logoCol;
  -webkit-box-decoration-break: clone; //IE9 not support
  box-decoration-break: clone;
}
.p2-cont-tit{
  margin-right: pxToVw(142px, xl);
  height: pxToVh(122px, xl);
  float: right;
  font-size: pxToRem(30px);
  color: white;
  text-align: right;
  :first-child {
    margin-right: pxToRem(16px);
  }
  span{
    line-height: pxToRem(38px);
    background-color: $logoCol;
    padding: pxToRem(10px);
  }
}
.p2-cont-detal{
  margin-top: pxToRem(16px);
  clear: left;
  width: 100%;
  overflow: hidden;
  color: $logoCol;
  font-size: 1rem;
  line-height: pxToRem(24px);
}
.p3-contents{
  position: absolute;
  top: pxToVh(147px);
  left: pxToVw(750px);
}
.p3-title{
  //width: pxToRem(417px);
  position: absolute;
  right: pxToVw(76px, xl);
  top: pxToVh(98px, xl);
  width: pxToVw(246px, xl);
  height: pxToVh(111px, xl);
  p{
    font-size: 27px;
  }
}
.swiper-container{
  // margin: pxToVh(330px) auto 0;
  // width: pxToRem(1329px);
  // height: pxToRem(619px);
}
.swiper-wrapper.mousewheel {
  transition-duration: .2s !important;
}
.p3-bluebg-1{
  position: absolute;
  top: 0;
  left: pxToVw(655px, xl);
  width: pxToVw(460px, xl);
  height: pxToVh(274px, xl);
}

.p3-bluebg-2{
  position: absolute;
  width: pxToVw(487px, xl);
  height: pxToVh(461px, xl);
  right: 0;
  top: pxToVh(714px, xl);
}

.p2-left-side,.p3-right-side{
  position: absolute;
  right: 0;
  top: pxToVh(28px, xl);
  transform: translateX(100%) rotate(90deg);
  transform-origin: left top;
  
  p{
    font-size: pxToRem(54px);
    font-family: Arial Black, Helvetica, 'san-serif';
    line-height: pxToRem(54px );
  }
}
.p2-left-side{
  left:0;
  right:auto;
  transform: rotate(90deg);
  transform-origin: left bottom;
}